IceGrid.InstanceName=Spotifice
IceGrid.Registry.Client.Endpoints=tcp -h 192.168.1.206 -p 4061
IceGrid.Registry.Server.Endpoints=tcp -h 192.168.1.206 -p 4062
IceGrid.Registry.Internal.Endpoints=tcp -h 192.168.1.206 -p 4063
IceGrid.Registry.LMDB.Path=db/registry
IceGrid.Registry.AdminCryptPasswords=db/registry/passwords