IceGrid.InstanceName=Spotifice
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.LMDB.Path=db/registry

# --- SEGURIDAD ---
# ELIMINAMOS las líneas de PermissionsVerifier que daban error.
# Usamos un archivo de contraseñas simple:
IceGrid.Registry.AdminCryptPasswords=db/registry/passwords

IceGrid.Registry.LMDB.MapSize=128